@use '../assets/styles/variables';

.spinnerContainer {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 30px;
    height: 30px;
    border: 5px solid transparent;
    border-top: 5px solid variables.$green;
    border-radius: 50%;
    animation: spinner 1s ease-in-out infinite;
  }

  &::before {
    border-color: #000;
    border-top-color: variables.$green;
  }

  &::after{
    animation-duration: 4s;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
